html {
  color-scheme: dark;
}
button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #f5f5f5;
}
input {
  width: 300px;
  height: 70px;
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding-left: 20px;
}
